body {
    background: url(../images/newbg3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box {
    width: 100%;
    background: #EEE;
    border-radius: 20px;
}

.codytitle {
    width: 100%;
    font-size: 30px;
    text-align: center;

}

.cody {
    width: 100%;
    font-size: 50px;
    color:teal;
    text-align: center;
}

.codysub {
    width: 100%;
    font-size: 10px;
    text-align: center;
}

.display {
    width: 100%;
    font-size: 20px;
    text-align: center;

}

#submitted {
    width: 100%;
    font-size: 20px;
    text-align: center;

}
